#Buidler files
cache
artifacts

node_modules
typings/*

config/*
!config/template.env

.openzeppelin
.env

.DS_Store

# TypeScript tsc build
output
dist

# TypeScript bindings output directory
types

# solidity-coverage directory and output file
coverage
coverage.json

# test data
scripts/data
